Tools/LogViewer/LogViewer/Service References/C1LogService/LogService41.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Composite.Logging.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Composite.Logging.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogEntry" nillable="true" type="tns:LogEntry" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogEntry" nillable="true" type="tns:ArrayOfLogEntry" />
  <xs:complexType name="LogEntry">
    <xs:sequence>
      <xs:element minOccurs="0" name="ApplicationDomainId" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayOptions" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Severity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ThreadId" type="xs:int" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogEntry" nillable="true" type="tns:LogEntry" />
</xs:schema>