Tools/LogViewer/LogViewer/Service References/C1LogService/LogService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://local/Composite/services/LogService/local_80/LogService.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://local/Composite/services/LogService/local_80/LogService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Composite.Logging.WCF" />
  <xs:element name="Authenticate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="adminPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthenticateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AuthenticateResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastStartupTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLastStartupTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLastStartupTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTime">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServerTimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetServerTimeResult" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggingDates">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLoggingDatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="GetLoggingDatesResult" nillable="true" type="q1:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesCount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="timeTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeVerbose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesCountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogEntriesCountResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesCountByDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeVerbose" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesCountByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetLogEntriesCountByDateResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntries">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="timeTo" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeVerbose" type="xs:boolean" />
        <xs:element minOccurs="0" name="maximumAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Composite.Logging.WCF" minOccurs="0" name="GetLogEntriesResult" nillable="true" type="q2:ArrayOfLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="timeFrom" type="xs:dateTime" />
        <xs:element minOccurs="0" name="includeVerbose" type="xs:boolean" />
        <xs:element minOccurs="0" name="maximumAmount" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLogEntriesFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Composite.Logging.WCF" minOccurs="0" name="GetLogEntriesFromResult" nillable="true" type="q3:ArrayOfLogEntry" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>